<form class="mt-10" method="post" action="">
    <div class="form-group">
        <label for="search-input">Input Search</label>
        <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
            placeholder="Enter Search">
    </div>
    <div class="form-group">
        <select name="gender" class="form-control" id="gender-input">
            <option value="">Nhap gioi tinh</option>
            <option value="Male">Nam</option>
            <option value="Female">Nu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>